<?xml version="1.0" encoding="UTF-8"?>
<web-app>

		<servlet>
				<servlet-name>ControlServlet</servlet-name>
				<servlet-class>servlets.ControlServlet</servlet-class>


		</servlet>
		<servlet-mapping>
				<servlet-name>ControlServlet</servlet-name>
				<url-pattern>/ControlServlet</url-pattern>
		</servlet-mapping>

		<welcome-file-list>
				<welcome-file>index.jsp</welcome-file>
		</welcome-file-list>
</web-app>